---
http_interactions:
- request:
    method: get
    uri: https://horizon.stellar.org/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/hal+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '72000'
      X-Ratelimit-Remaining:
      - '71983'
      X-Ratelimit-Reset:
      - '2238'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links": {
            "account": {
              "href": "https://horizon.stellar.org/accounts/{account_id}",
              "templated": true
            },
            "account_transactions": {
              "href": "https://horizon.stellar.org/accounts/{account_id}/transactions{?cursor,limit,order}",
              "templated": true
            },
            "friendbot": {
              "href": "https://horizon.stellar.org/friendbot{?addr}",
              "templated": true
            },
            "metrics": {
              "href": "https://horizon.stellar.org/metrics"
            },
            "order_book": {
              "href": "https://horizon.stellar.org/order_book{?selling_asset_type,selling_asset_code,selling_issuer,buying_asset_type,buying_asset_code,buying_issuer}",
              "templated": true
            },
            "self": {
              "href": "https://horizon.stellar.org/"
            },
            "transaction": {
              "href": "https://horizon.stellar.org/transactions/{hash}",
              "templated": true
            },
            "transactions": {
              "href": "https://horizon.stellar.org/transactions{?cursor,limit,order}",
              "templated": true
            }
          },
          "horizon_version": "v0.8.0",
          "core_version": "v0.5.1-144-g3c4e356",
          "history_latest_ledger": 9459027,
          "history_elder_ledger": 1,
          "core_latest_ledger": 9459027,
          "core_elder_ledger": 1,
          "network_passphrase": "Public Global Stellar Network ; September 2015"
        }
  recorded_at: Tue, 07 Mar 2017 06:28:54 GMT
[...]
