---
http_interactions:
- request:
    method: get
    uri: https://horizon.stellar.org/ledgers/9578569
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/hal+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '72000'
      X-Ratelimit-Remaining:
      - '71996'
      X-Ratelimit-Reset:
      - '731'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links": {
            "self": {
              "href": "https://horizon.stellar.org/ledgers/9578569"
            },
            "transactions": {
              "href": "https://horizon.stellar.org/ledgers/9578569/transactions{?cursor,limit,order}",
              "templated": true
            },
            "operations": {
              "href": "https://horizon.stellar.org/ledgers/9578569/operations{?cursor,limit,order}",
              "templated": true
            },
            "payments": {
              "href": "https://horizon.stellar.org/ledgers/9578569/payments{?cursor,limit,order}",
              "templated": true
            },
            "effects": {
              "href": "https://horizon.stellar.org/ledgers/9578569/effects{?cursor,limit,order}",
              "templated": true
            }
          },
          "id": "92ee1ce81b50bf599ad11126ae0aebfcd478f43be101ca7ead65ec9a7b79d8dc",
          "paging_token": "41139640597479424",
          "hash": "92ee1ce81b50bf599ad11126ae0aebfcd478f43be101ca7ead65ec9a7b79d8dc",
          "prev_hash": "03d9959dc32e5b724224287045c878db82de03bfc0c3e188b32187ddd190f186",
          "sequence": 9578569,
          "transaction_count": 0,
          "operation_count": 0,
          "closed_at": "2017-03-14T02:57:27Z",
          "total_coins": "102646433896.7288510",
          "fee_pool": "617195.0854328",
          "base_fee": 100,
          "base_reserve": "10.0000000",
          "max_tx_set_size": 50
        }
  recorded_at: Tue, 14 Mar 2017 03:45:22 GMT
recorded_with: VCR 3.0.3
