---
http_interactions:
- request:
    method: get
    uri: https://horizon.stellar.org/ledgers?cursor&limit=10&order=asc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/hal+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '72000'
      X-Ratelimit-Remaining:
      - '71990'
      X-Ratelimit-Reset:
      - '89'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links": {
            "self": {
              "href": "https://horizon.stellar.org/ledgers?order=asc\u0026limit=10\u0026cursor="
            },
            "next": {
              "href": "https://horizon.stellar.org/ledgers?order=asc\u0026limit=10\u0026cursor=42949672960"
            },
            "prev": {
              "href": "https://horizon.stellar.org/ledgers?order=desc\u0026limit=10\u0026cursor=4294967296"
            }
          },
          "_embedded": {
            "records": [
              {
                "_links": {
                  "self": {
                    "href": "https://horizon.stellar.org/ledgers/1"
                  },
                  "transactions": {
                    "href": "https://horizon.stellar.org/ledgers/1/transactions{?cursor,limit,order}",
                    "templated": true
                  },
                  "operations": {
                    "href": "https://horizon.stellar.org/ledgers/1/operations{?cursor,limit,order}",
                    "templated": true
                  },
                  "payments": {
                    "href": "https://horizon.stellar.org/ledgers/1/payments{?cursor,limit,order}",
                    "templated": true
                  },
                  "effects": {
                    "href": "https://horizon.stellar.org/ledgers/1/effects{?cursor,limit,order}",
                    "templated": true
                  }
                },
                "id": "39c2a3cd4141b2853e70d84601faa44744660334b48f3228e0309342e3f4eb48",
                "paging_token": "4294967296",
                "hash": "39c2a3cd4141b2853e70d84601faa44744660334b48f3228e0309342e3f4eb48",
                "sequence": 1,
                "transaction_count": 0,
                "operation_count": 0,
                "closed_at": "1970-01-01T00:00:00Z",
                "total_coins": "100000000000.0000000",
                "fee_pool": "0.0000000",
                "base_fee": 100,
                "base_reserve": "10.0000000",
                "max_tx_set_size": 100
              },
              {
                "_links": {
                  "self": {
                    "href": "https://horizon.stellar.org/ledgers/2"
                  },
                  "transactions": {
                    "href": "https://horizon.stellar.org/ledgers/2/transactions{?cursor,limit,order}",
                    "templated": true
                  },
                  "operations": {
                    "href": "https://horizon.stellar.org/ledgers/2/operations{?cursor,limit,order}",
                    "templated": true
                  },
                  "payments": {
                    "href": "https://horizon.stellar.org/ledgers/2/payments{?cursor,limit,order}",
                    "templated": true
                  },
                  "effects": {
                    "href": "https://horizon.stellar.org/ledgers/2/effects{?cursor,limit,order}",
                    "templated": true
                  }
                },
                "id": "fe0f6bea5f341344fdb5bc6fc4ad719dd63071d9203e9a1e7f17c68ea1ecebde",
                "paging_token": "8589934592",
                "hash": "fe0f6bea5f341344fdb5bc6fc4ad719dd63071d9203e9a1e7f17c68ea1ecebde",
                "prev_hash": "39c2a3cd4141b2853e70d84601faa44744660334b48f3228e0309342e3f4eb48",
                "sequence": 2,
                "transaction_count": 0,
                "operation_count": 0,
                "closed_at": "2015-09-30T16:46:54Z",
                "total_coins": "100000000000.0000000",
                "fee_pool": "0.0000000",
                "base_fee": 100,
                "base_reserve": "10.0000000",
                "max_tx_set_size": 500
              },
              {
                "_link[...]
[...]
