---
http_interactions:
- request:
    method: get
    uri: https://horizon.stellar.org/ledgers/7874
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/hal+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '72000'
      X-Ratelimit-Remaining:
      - '71997'
      X-Ratelimit-Reset:
      - '3353'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links": {
            "self": {
              "href": "https://horizon.stellar.org/ledgers/7874"
            },
            "transactions": {
              "href": "https://horizon.stellar.org/ledgers/7874/transactions{?cursor,limit,order}",
              "templated": true
            },
            "operations": {
              "href": "https://horizon.stellar.org/ledgers/7874/operations{?cursor,limit,order}",
              "templated": true
            },
            "payments": {
              "href": "https://horizon.stellar.org/ledgers/7874/payments{?cursor,limit,order}",
              "templated": true
            },
            "effects": {
              "href": "https://horizon.stellar.org/ledgers/7874/effects{?cursor,limit,order}",
              "templated": true
            }
          },
          "id": "6e687d0f4b4ab21ee4ce453ed70137f00af9c068a29d29d79e011522189c8560",
          "paging_token": "33818572488704",
          "hash": "6e687d0f4b4ab21ee4ce453ed70137f00af9c068a29d29d79e011522189c8560",
          "prev_hash": "cab79bf423427d7b91c1bf3ab84e3e4a26dae222cb0cbc8ad22bfd70e12b2f46",
          "sequence": 7874,
          "transaction_count": 1,
          "operation_count": 1,
          "closed_at": "2015-10-01T04:17:46Z",
          "total_coins": "100057219936.0478975",
          "fee_pool": "7276.3021790",
          "base_fee": 100,
          "base_reserve": "10.0000000",
          "max_tx_set_size": 500
        }
  recorded_at: Mon, 06 Mar 2017 02:00:28 GMT
recorded_with: VCR 3.0.3
